/*===========================
template.css
=============================*/

.all-content {
    margin: 0;
}

.all-content .container {
    margin: 50px auto 150px;
}

/*見出し*/
h1 {
    margin: 0 0 30px;
    text-align: center;
}
h1::after {
    margin: 10px auto 0;
    display: block;
    content: "";
    width: 50px;
    height: 5px;
    background-color: #963131;
}

/*フォント*/
h1,
.navbar .navbar-brand,
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus,
.navbar .nav-link,
.navbar .nav-link:hover,
.navbar .nav-link:focus,
.navbar .nav-link.disabled,
.navbar .dropdown-item,
.navbar .dropdown-item:hover,
.navbar .dropdown-item:focus,
footer ul li:before,
footer ul li a,
footer ul li a:hover,
footer ul li a:focus,
#books-create label {
    color: #963131;
}
footer ul li a,
footer ul li a:hover,
footer ul li a:focus {
    text-decoration: none;
}
@media screen and (max-width: 640px) {
    footer ul li a,
    footer ul li a:hover,
    footer ul li a:focus {
        color: #fff;
    }
}

/*ヘッダー*/
.navbar {
    background-color: #fff;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}
.navbar .navbar-brand {
    width: 200px;
}
.navbar .navbar-brand img {
    width: 100%;
}
@media screen and (max-width: 640px) {
    .navbar { 
        padding: 0.5rem 1rem 0.5rem 0.7rem;
    }
    .container {
        padding: 0;
    }
    .navbar .navbar-brand {
        width: 55%;
        margin: 0;
    }
    .nav-link {
        max-width: 120px;
        padding: 0.6rem 0 0.5rem;
    }
    .word-count {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

/*ドロップダウンメニュー*/
#navbarSupportedContent ul {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.dropdown-menu {
    position: absolute;
    right: 0;
    left: -22px;
    min-width: 6rem;
}
.dropdown-item {
    text-align: center;
}

/*フッター*/
footer {
    width: 1140px;
    margin: 0 auto;
    padding: 0 15px 50px;
}
footer .arrow {
    margin: 0 10px 10px auto;
    display: block;
    position: relative;
    width: 40px;
    height: 40px;
    border: 2px solid #963131;
    border-radius: 50%;
    background-color: #f8fafc;
}
footer .arrow a {
    display: inline-block;
    width: 15px;
    height: 15px;
    position: absolute;
    top: 15px;
    left: 11px;
    border: 2px solid;
    border-color: transparent transparent #963131 #963131;
    transform: rotate(135deg);
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}
footer ul.row {
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
    align-items: center;
}
footer ul:after {
    content: "";
    display: block;
    clear: both;
} 
footer ul li {
    text-align: center;
}
footer ul li:before {
    display: inline-block;
    margin-right: 0.5em;
    vertical-align: 0.1em;
    content: "";
    border-top: 0.3em solid transparent;
    border-right: 0;
    border-bottom: 0.3em solid transparent;
    border-left: 0.3em solid;
}
footer ul li a img {
    display: none;
}
@media screen and (max-width: 1140px) {
    footer {
        width: 100%;
    }
}
@media screen and (max-width: 640px) {
    footer {
        position: fixed;
        bottom: 0px;
        z-index: 99;
        margin: 0;
        padding: 0;
    }
    footer ul.row {
        padding: 10px 0 5px;
        background-color: #540100;
        font-size: 13px;
    }
    footer ul li {
        border-right: 1px solid #fff;
    }
    footer ul li:last-child {
        border-right: none;
    }
    footer ul li:before {
        display: none;
    }
    footer ul li a img {
        display: inherit;
        width: 30px;
    }
    footer ul li:first-child a img {
        width: 35px;
        padding: 3px 0;
    }
    footer ul li a span {
        display: block;
        margin-top: 3px;
    }
}


/*===========================
login.css
register.css
=============================*/

/*見出し*/
#login-page h1,
#register-page h1 {
    margin-bottom: 20px;
    font-size: 1.2rem;
    text-align: left;
}
#login-page h1::after,
#register-page h1::after {
    content: none;
}

/*ボタン*/
#register-page .mb-0 {
    margin-top: 30px;
}
#login-page .login-body > div {
    margin-top: 15px;
    padding: 0 15px 0 0;
}
#login-page .login-body > div a {
    display: block;
}
@media screen and (max-width: 640px) {
    #login-page .login-body > div {
        padding: 0;
    }
}


/*===========================
welcome.css
=============================*/

/*ボタン*/
#welcome-page a:first-child {
    margin-bottom: 20px;
}
#welcome-page .row {
    margin: 75px auto 0;
}
#welcome-page .card-body {
    padding: 0;
}


/*===========================
home.css
=============================*/

.all-content #home-page.container {
    position: relative;
    padding: 0;
    margin: 0 auto 150px;
}

/*画像*/
#home-page .image_col,
#home-page .image_col img {
    width: 100%;
}
#home-page .image_col {
    position: relative;
    height: 280px;
    background-color: #e0e0e0;
}
#home-page .image_col img {
    object-fit: cover;
    height: 100%;
}
#home-page .image_col > div,
#home-page h1 {
    position: absolute;
    right: 0;
    left: 0;
    margin: auto;
}
#home-page .image_col > div, {
    width: 150px;
    top: 30px;
}
#home-page .image_col > div img {
    width:150px;
	height:150px;
	object-fit:cover;
	border-radius:50%;
	object-position:0px 0px;
	border: 10px solid #fff;
}

/*見出し*/
#home-page h1 {
    top: 190px;
    margin-top: 10px;
    font-size: 1.5rem;
    text-shadow: 0 0 5px #fff,0 0 5px #fff,0 0 5px #fff,0 0 5px #fff;
}

/*追加ボタン*/

#home-page .icon_add,
#home-page .icon_add a {
    width: 60px;
    height: 60px;
}
#home-page .icon_add {
    position: fixed;
    bottom: 80px;
    right: 0;
    margin: 0 10px 10px 0;
    background: #540100;
    border-radius: 50%;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}
#home-page .icon_add a {
    display: block;
}
#home-page .icon_add::before,
#home-page .icon_add::after {
    position: absolute;
    top: 27px;
    left: 50%;
    content: '';
    display: inline-block;
    width: 40px;
    height: 16px;
    border-top: 4px solid #fff;
    transform: translateX(-50%);
}
#home-page .icon_add::after {
    top: 21px;
    left: 4px;
    transform: rotate(90deg);
}


/*===========================
books-create.css
=============================*/

#books-create .row {
    margin: 15px 0 0;
}

#books-create label {
    text-align: center;
    font-size: 1rem;
}

#books-create .form-select {
    margin: 0 15px;
}

#books-create .form-check label {
    color: #212529;
    font-size: 0.9rem;
}

#books-create p {
    font-size: 0.7rem;
    padding-top: 10px;
}

#books-create .btn-primary {
    margin: 30px 0 20px;
}

