@charset "UTF-8";

/*===========================
template.css
=============================*/

.all-content {
  margin: 0;
}

.all-content .container {
  margin: 50px auto 150px;
}

/*見出し*/

h1 {
  margin: 0 0 30px;
  text-align: center;
}

h1::after {
  margin: 10px auto 0;
  display: block;
  content: "";
  width: 50px;
  height: 5px;
  background-color: #963131;
}

/*フォント*/

h1,
h2,
h3,
.navbar .navbar-brand,
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus,
.navbar .nav-link,
.navbar .nav-link:hover,
.navbar .nav-link:focus,
.navbar .nav-link.disabled,
.navbar .dropdown-item,
.navbar .dropdown-item:hover,
.navbar .dropdown-item:focus,
footer ul li:before,
footer ul li a,
footer ul li a:hover,
footer ul li a:focus,
#books-create label,
#books-edit label,
#books-search label,
#home-page .icon a,
#books-deta dl dt,
#books-custom .col_title {
  color: #963131;
}

footer ul li a,
footer ul li a:hover,
footer ul li a:focus {
  text-decoration: none;
}

@media screen and (max-width: 640px) {
  footer ul li a,
  footer ul li a:hover,
  footer ul li a:focus {
    display: block;
    color: #fff;
  }
}

/*ヘッダー*/

.navbar {
  background-color: #fff;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.navbar .navbar-brand {
  width: 200px;
}

.navbar .navbar-brand img {
  width: 100%;
}

@media screen and (max-width: 640px) {
  .navbar {
    padding: 0.5rem 1rem 0.5rem 0.7rem;
  }

  .container {
    padding: 0;
  }

  .navbar .navbar-brand {
    width: 55%;
    margin: 0;
  }

  .nav-link {
    max-width: 120px;
    padding: 0.6rem 0 0.5rem;
  }

  .word-count {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

/*ドロップダウンメニュー*/

#navbarSupportedContent ul {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.dropdown-menu {
  position: absolute;
  right: 0;
  left: -22px;
  min-width: 6rem;
}

.dropdown-item {
  text-align: center;
}

/*フッター*/

footer {
  width: 1140px;
  margin: 0 auto;
  padding: 0 15px 50px;
}

footer .arrow {
  margin: 0 10px 10px auto;
  display: block;
  position: relative;
  width: 40px;
  height: 40px;
  border: 2px solid #963131;
  border-radius: 50%;
  background-color: #f8fafc;
}

footer .arrow a {
  display: inline-block;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 15px;
  left: 11px;
  border: 2px solid;
  border-color: transparent transparent #963131 #963131;
  transform: rotate(135deg);
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

footer ul.row {
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
  align-items: center;
}

footer ul:after {
  content: "";
  display: block;
  clear: both;
}

footer ul li {
  text-align: center;
}

footer ul li:before {
  display: inline-block;
  margin-right: 0.5em;
  vertical-align: 0.1em;
  content: "";
  border-top: 0.3em solid transparent;
  border-right: 0;
  border-bottom: 0.3em solid transparent;
  border-left: 0.3em solid;
}

footer ul li a img {
  display: none;
}

@media screen and (max-width: 1140px) {
  footer {
    width: 100%;
  }
}

@media screen and (max-width: 640px) {
  footer {
    position: fixed;
    bottom: 0px;
    z-index: 99;
    margin: 0;
    padding: 0;
  }

  footer ul.row {
    padding: 10px 0 5px;
    background-color: #540100;
    font-size: 13px;
  }

  footer ul li {
    border-right: 1px solid #fff;
  }

  footer ul li:last-child {
    border-right: none;
  }

  footer ul li:before {
    display: none;
  }

  footer ul li a img {
    display: inherit;
    margin: 0 auto;
    width: 30px;
  }

  footer ul li:first-child a img {
    width: 35px;
    padding: 3px 0;
  }

  footer ul li a span {
    display: block;
    margin-top: 3px;
  }
}

/*===========================
login.css
register.css
=============================*/

/*見出し*/

#login-page h1,
#register-page h1 {
  margin-bottom: 20px;
  font-size: 1.2rem;
  text-align: left;
}

#login-page h1::after,
#register-page h1::after {
  content: none;
}

/*ボタン*/

#register-page .mb-0 {
  margin-top: 30px;
}

#login-page .login-body > div {
  margin-top: 15px;
  padding: 0 15px 0 0;
}

#login-page .login-body > div a {
  display: block;
}

@media screen and (max-width: 640px) {
  #login-page .login-body > div {
    padding: 0;
  }
}

/*===========================
welcome.css
=============================*/

/*ボタン*/

#welcome-page a:first-child {
  margin-bottom: 20px;
}

#welcome-page .row {
  margin: 75px auto 0;
}

#welcome-page .card-body {
  padding: 0;
}

/*===========================
home.css
=============================*/

.all-content #home-page.container {
  position: relative;
  padding: 0;
  margin: 0 auto 150px;
}

/*画像*/

#home-page .image_col,
#home-page .image_col img {
  width: 100%;
}

#home-page .image_col {
  position: relative;
  height: 280px;
  background-color: #e0e0e0;
}

#home-page .image_col img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}

#home-page .image_col > div,
#home-page h1 {
  position: absolute;
  right: 0;
  left: 0;
  margin: auto;
}

#home-page .image_col > div {
  width: 150px;
  top: 30px;
}

#home-page .image_col > div img {
  width: 150px;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  -o-object-position: 0px 0px;
     object-position: 0px 0px;
  border: 10px solid #fff;
  background-color: #fff;
}

/*見出し*/

#home-page h1 {
  top: 190px;
  margin-top: 10px;
  font-size: 1.5rem;
  text-shadow: 0 0 5px #fff, 0 0 5px #fff, 0 0 5px #fff, 0 0 5px #fff;
}

/*ボタン共通CSS*/

#home-page .icon,
#home-page .icon a,
#home-page .search_col div a,
#home-page .search_col div span {
  display: block;
}

#home-page .search_col .row > div,
#home-page .search_col .search_icon {
  padding: 0;
}

#home-page .search_col .search_icon span,
#home-page .search_col .star_icon span,
#home-page .search_col .lift_icon span {
  display: none;
}

/*ボタン*/

#home-page .icon {
  display: block;
  position: fixed;
  bottom: 80px;
  right: 0;
  width: 70px;
  height: 70px;
  margin: 0 10px 10px 0;
  font-size: 70px;
  z-index: 9999;
}

#home-page .icon a {
  line-height: 0;
}

#home-page .icon i {
  position: absolute;
  z-index: 100;
}

#home-page .icon span {
  position: absolute;
  top: 5px;
  right: 5px;
  display: block;
  width: 60px;
  height: 60px;
  border: 1px solid #fff;
  border-radius: 50%;
  background-color: #fff;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

#home-page .search_col {
  padding: 15px 0;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.08);
}

#home-page .search_col .row {
  margin: 0 15px;
}

#home-page .search_col .star_icon,
#home-page .search_col .lift_icon {
  margin-left: 20px;
}

#home-page .search_col .search_icon,
#home-page .search_col .star_icon,
#home-page .search_col .lift_icon {
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  background-color: #f5f5f5;
}

#home-page .search_col .search_icon {
  text-align: center;
}

#home-page .search_col .star_icon,
#home-page .search_col .lift_icon {
  text-align: center;
}

#home-page .search_col .search_icon i,
#home-page .search_col .star_icon i,
#home-page .search_col .lift_icon i {
  padding: 10px;
  font-size: 30px;
}

#home-page .search_col .search_icon i {
  color: #adadad;
  padding-right: 10px;
}

#home-page .search_col .star_icon i {
  color: #dec400;
}

#home-page .search_col .lift_icon i {
  color: #3490dc;
}

/*ギャラリー*/

#home-page .garally_col {
  margin: 10px 0 0;
}

#home-page .garally_col .books_col {
  position: relative;
  padding: 0;
}

#home-page .garally_col .books_col p {
  position: absolute;
  top: 10px;
  left: 10px;
  max-width: 92%;
  padding: 3px 10px;
  color: #fff;
  background-color: #973132;
  border-radius: 10px;
}

#home-page .garally_col .books_col img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 640px) {
  #home-page .garally_col .books_col p {
    top: 5px;
    max-width: 85%;
  }
}

@media screen and (max-width: 320px) {
  #home-page .garally_col .books_col p {
    font-size: 0.7rem;
  }
}

/*===========================
books-create.css
books-edit.css
=============================*/

#books-edit h1 {
  font-size: 1.8rem;
}

#books-create .row,
#books-edit .row {
  margin: 15px 0 0;
}

#books-create label,
#books-edit label {
  text-align: center;
  font-size: 1rem;
}

#books-create .form-select,
#books-edit .form-select {
  margin: 0 15px;
}

#books-create .form-check label,
#books-edit .form-check label {
  color: #212529;
  font-size: 0.9rem;
}

#books-create p,
#books-edit p {
  font-size: 0.7rem;
  margin: 0;
  padding-top: 10px;
}

#books-create .btn-primary,
#books-edit .btn-primary {
  margin: 30px 0 20px;
}

#books-edit .btn-delete {
  margin-top: 20px;
  color: #fff;
  border: 2px solid #ababab;
  background-color: #ababab;
}

/*===========================
data.css
=============================*/

#books-deta h2,
#books-deta h3,
#books-deta dl {
  text-align: center;
}

#books-deta h2,
#books-deta h3 {
  margin-bottom: 20px;
  font-weight: bold;
}

#books-deta img {
  display: block;
  margin: 50px auto;
  width: 100%;
  max-width: 300px;
}

#books-deta .deta_col {
  margin: 20px 0 50px;
}

#books-deta dl dt {
  font-size: 17px;
}

#books-deta dl.memo dt {
  padding-bottom: 10px;
  /*border-bottom: 1px solid #963131;*/
}

#books-deta dl.memo dd {
  margin-top: 20px;
}

#books-deta .btn {
  font-size: 1.1rem;
  border: 2px solid #3490dc;
}

/*星評価*/

.star5_rating {
  position: relative;
  z-index: 0;
  display: inline-block;
  white-space: nowrap;
  color: #CCCCCC;
  /* グレーカラー 自由に設定化 */
  /*font-size: 30px; フォントサイズ 自由に設定化 */
}

.star5_rating:before,
.star5_rating:after {
  content: "\2605\2605\2605\2605\2605";
}

.star5_rating:after {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  overflow: hidden;
  white-space: nowrap;
  color: #ffcf32;
  /* イエローカラー 自由に設定化 */
}

.star5_rating[data-rate="5"]:after {
  width: 100%;
}

/* 星5 */

.star5_rating[data-rate="4.5"]:after {
  width: 90%;
}

/* 星4.5 */

.star5_rating[data-rate="4"]:after {
  width: 80%;
}

/* 星4 */

.star5_rating[data-rate="3.5"]:after {
  width: 70%;
}

/* 星3.5 */

.star5_rating[data-rate="3"]:after {
  width: 60%;
}

/* 星3 */

.star5_rating[data-rate="2.5"]:after {
  width: 50%;
}

/* 星2.5 */

.star5_rating[data-rate="2"]:after {
  width: 40%;
}

/* 星2 */

.star5_rating[data-rate="1.5"]:after {
  width: 30%;
}

/* 星1.5 */

.star5_rating[data-rate="1"]:after {
  width: 20%;
}

/* 星1 */

.star5_rating[data-rate="0.5"]:after {
  width: 10%;
}

/* 星0.5 */

.star5_rating[data-rate="0"]:after {
  width: 0%;
}

/* 星0 */

/*===========================
search.css
=============================*/

#books-search .row {
  margin: 15px 0 0;
}

#books-search label {
  text-align: center;
  font-size: 1rem;
}

#books-search .form-check label {
  color: #212529;
  font-size: 0.9rem;
}

#books-search .form-normal {
  padding: 0;
}

#books-search .form-select {
  margin: 0;
}

#books-search .btn-primary {
  margin: 30px 0 20px;
}

#books-search p {
  font-size: 0.7rem;
  padding-top: 10px;
}

#books-search .btn_col {
  position: relative;
}

#books-search i {
  position: absolute;
  top: 42px;
  left: 43%;
  color: #fff;
}

@media screen and (max-width: 640px) {
  #books-search i {
    left: 40%;
  }
}

@media screen and (max-width: 355px) {
  #books-search i {
    left: 35%;
  }
}

/*===========================
graph.css
=============================*/

#books-graph h2,
#books-graph h3 {
  font-size: 1.3rem;
}

#books-graph .button .col {
  padding: 0 5px;
}

#books-graph .button a {
  display: block;
  padding: 5px 0;
  color: #fff;
  text-align: center;
  font-size: 1.1rem;
  text-decoration: none;
  border: 2px solid;
  border-radius: 5px;
  border-color: #963131;
  background-color: #963131;
}

#books-graph .button .col:first-child a {
  border-color: #b75555;
  background-color: #b75555;
}

#books-graph .button .col:last-child a {
  border-color: #732020;
  background-color: #732020;
}

#books-graph .graph_col,
#books-graph .data_col {
  margin-top: 30px;
}

#books-graph .data_col .col:first-child {
  padding-right: 5px;
}

#books-graph .data_col .col:last-child {
  padding-left: 5px;
}

#books-graph .card {
  position: relative;
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  color: #963131;
}

#books-graph .data_col > .card:last-child {
  margin-top: 30px;
}

#books-graph .data_col .card span {
  font-size: 2rem;
  display: contents;
}

#books-graph .txt-no-data {
  position: absolute;
  color: #b1b1b1;
  top: 50%;
  left: 40%;
  font-size: 2rem;
}

@media screen and (max-width: 1200px) {
  #books-graph .txt-no-data {
    left: 38%;
  }
}

@media screen and (max-width: 991px) {
  #books-graph .txt-no-data {
    top: 53%;
    left: 34%;
  }
}

@media screen and (max-width: 640px) {
  #books-graph .button {
    margin: auto;
  }

  #books-graph .txt-no-data {
    top: 70%;
    font-size: 1.5rem;
  }
}

/*===========================
Custom.css
=============================*/

#books-custom .col_title {
  font-weight: bold;
  font-size: 1.3rem;
  text-align: center;
}

